Source: libxslt
Section: text
Priority: optional
Maintainer: Rafal Krypa <r.krypa@samsung.com>
X-Original-Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
X-Original-Uploaders: Mike Hommey <glandium@debian.org>
Standards-Version: 3.7.0.0
Build-Depends: debhelper (>= 5.0.0), libxml2-dev (>= 2.6.17), zlib1g-dev | libz-dev, libgcrypt11-dev, autotools-dev, binutils (>= 2.14.90.0.7)

Package: libxslt1.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libxslt1 (<< 1.1.2-2)
Description: XSLT processing library - runtime library
 XSLT is an XML language for defining transformations of XML files from
 XML to some other arbitrary format, such as XML, HTML, plain text, etc.
 using standard XSLT stylesheets. libxslt is a C library which
 implements XSLT.
 .
 This package contains libxslt library used by applications for XSLT
 transformations.

Package: libxslt1-dev
Section: libdevel
Architecture: any
Provides: libxslt-dev
Conflicts: libxslt-dev, libxslt0-dev
Depends: libxslt1.1 (= ${Source-Version}), libxml2-dev (>= 2.6.17), zlib1g-dev | libz-dev, libgcrypt11-dev
Description: XSLT processing library - development kit
 XSLT is an XML language for defining transformations of XML files from
 XML to some other arbitrary format, such as XML, HTML, plain text, etc.
 using standard XSLT stylesheets. libxslt is a C library which
 implements XSLT.
 .
 This package contains the development files libxslt.

Package: libxslt1-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libxslt1.1 (= ${Source-Version})
Description: XSLT processing library - debugging symbols
 XSLT is an XML language for defining transformations of XML files from
 XML to some other arbitrary format, such as XML, HTML, plain text, etc.
 using standard XSLT stylesheets. libxslt is a C library which
 implements XSLT.
 .
 This package provides the debugging symbols for the library and for
 the xsltproc utility provided by the xsltproc package.
 Debugging symbols for the python modules are not available.

Package: xsltproc
Section: text
Architecture: any
Depends: ${shlibs:Depends}
Description: XSLT command line processor
 XSLT is an XML language for defining transformations of XML files from
 XML to some other arbitrary format, such as XML, HTML, plain text, etc.
 using standard XSLT stylesheets.
 .
 This package contains a command line tool that facilitates XSLT
 transformations.

Package: python-libxslt1
Section: python
Architecture: all
Depends: ${python:Depends}
Description:  Python bindings for libxslt1
 This package is a dummy package that will bring you the libxslt bindings
 for the current Python version.

Package: python2.4-libxslt1
Section: python
Architecture: any
Depends: ${shlibs:Depends}, python2.4-libxml2 (>= 2.6.17), python2.4
Description:  Python 2.4 bindings for libxslt1
 XSLT is an XML language for defining transformations of XML files from
 XML to some other arbitrary format, such as XML, HTML, plain text, etc.
 using standard XSLT stylesheets. libxslt is a C library which
 implements XSLT.
 .
 This package contains Python 2.4 binding for libxslt, needed to use
 libxslt in Python programs.

Package: python2.3-libxslt1
Section: python
Architecture: any
Depends: ${shlibs:Depends}, python2.3-libxml2 (>= 2.6.17), python2.3
Description:  Python 2.3 bindings for libxslt1
 XSLT is an XML language for defining transformations of XML files from
 XML to some other arbitrary format, such as XML, HTML, plain text, etc.
 using standard XSLT stylesheets. libxslt is a C library which
 implements XSLT.
 .
 This package contains Python 2.3 binding for libxslt, needed to use
 libxslt in Python programs.
